.contact__icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70vw;
}

.contact__icons img {
  height: 70px;
  -webkit-box-shadow: 0px 0px 36px -13px #000000;
  box-shadow: 0px 0px 20px -13px #ececec;
  border-radius: 50%;
  filter: brightness(0.1);
}

.contact__icons img.light {
  filter: brightness(1);
}
