.contact__container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  position: relative;
}

.contact__container.off {
  background-color: rgb(25, 25, 25);
}

.contact__container.on {
  background-color: rgb(63, 63, 63);
}

.lightswitch {
  font-family: "Barlow";
  font-size: 1.3em;
  padding: 1em 0em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50px;
  left: 50px;
  height: 50px;
  width: 70px;
  border-radius: 5px;
  z-index: 6;
  user-select: none;
  text-decoration: none;
  outline: none;
  border: none;

  background-color: #d3d3d3;
  box-shadow: 0 6px #777777;
}

.lightswitch:active {
  transform: translateY(6px);
  box-shadow: 0 2px #777777;
}

.lightswitch.on {
  transform: translateY(6px);
  box-shadow: 0 2px #777777;
}

.lightswitch:hover {
  cursor: pointer;
}

.lightswitch.on:hover {
  cursor: default;
}
