.contact__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(39, 39, 39);
  height: 100%;
  position: relative;
}

.lightswitch {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 3px;
  top: 50px;
  left: 50px;
  background-color: gray;
  height: 25px;
  width: 100px;
  border-radius: 15px;
  z-index: 6;
  user-select: none;
}

.lightswitch:hover {
  cursor: pointer;
}

.switch {
  position: absolute;
  background-color: rgb(217, 217, 217);
  height: 20px;
  width: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.8em;
  font-family: "Barlow";
  transform: translateX(0px);
  transition: transform 0.2 ease-in-out;
}

.switch.on {
  transform: translateX(calc(50px - 6px));
  transition: transform 0.2s ease-in-out;
}
