.contact__icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70vw;
}

.contact__icons img {
  height: 100px;
  filter: brightness(0.1);
}

.contact__icons:nth-child(2) {
  background-color: white;
}
