.project__item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  backdrop-filter: brightness(0.2);
  color: white;
}

.project__item:hover {
  cursor: pointer;
}
