.project__tab {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 70%;
  font-family: "Barlow";
}

.project__info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2em;
  margin-top: 5%;
  height: 100%;

  img {
    width: 120px;
  }

  div {
    width: 50%;
    align-self: flex-start;
  }
  h5 {
    font-size: 1.5em;
    font-weight: bolder;
  }

  a {
    text-decoration: underline;
    color: black;
  }

  .project__links {
    display: flex;
    gap: 1em;
    margin-top: 20px;
  }

  .project__desc {
    margin-top: 3px;
  }

  .project__text {
    margin-top: 20px;
    line-height: 1.5em;
  }
}

.project__back {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  background-color: transparent;
  color: rgb(93, 92, 92);
  border-radius: 50%;
  padding: 1em;
  width: 3em;
  height: 3em;
  border: none;
  margin-left: 1em;
  z-index: 10;
}

.project__back:hover {
  background-color: rgb(234, 234, 234);
  transition: background-color 0.2s ease-out;
  cursor: pointer;
}

.project__desc {
  color: rgb(83, 83, 83);
  font-size: 0.9em;
  line-height: normal;
}
