.project__back {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  background-color: transparent;
  color: rgb(93, 92, 92);
  border-radius: 50%;
  padding: 1em;
  width: 3em;
  height: 3em;
  border: none;
  margin-left: 1em;
}

.project__back:hover {
  background-color: rgb(234, 234, 234);
  cursor: pointer;
}
