.section__text__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100%;
}

.section__text {
  font-family: "Barlow";
  font-size: 1em;
  width: 60%;
  line-height: 1.5em;
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 0.5s, transform 0.5s;
  padding-bottom: 3em;
}

.section__text.show {
  opacity: 1;
  transform: translateX(0px);
}

@media only screen and (max-height: 400px) {
  .section__text {
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 768px) {
  .section__text {
    font-size: 0.9em;
    margin-top: 300px;
  }

  .section__text__container {
    overflow: scroll;
  }
}
