.sidebar__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  color: black;
}

.sidebar__item:nth-child(1) {
  border-radius: 5px;
}

.sidebar__item:hover {
  background-color: gray;
  cursor: pointer;
}
