.sidebar__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  color: black;
  font-family: "Barlow";
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.sidebar__item:hover {
  cursor: pointer;
  transform: scale(1.1);
  font-weight: 900;
}
