.skills__section {
  background-color: rgb(33, 33, 33);
  color: white;
  height: 100vh;
  font-family: "Barlow";
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.skills__header {
  text-align: center;
  font-size: 2vw;
}

.skills__section > div {
  display: flex;
  justify-content: center;
  width: 90vw;
  gap: 2em;
}

.skills__section > div > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5em;
  width: 25%;
}

.skill {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s, transform 0.5s;
}

.skill.show {
  opacity: 1;
  transform: translateY(0px);
}
